name: CI/CD CDK Deployment

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Install dependencies and CDK
        run: npm install -g aws-cdk

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Python dependencies
        run: pip install -r requirements.txt

#      - name: Run Tests
#        run: |
#          echo "Running tests..."
#          python -m unittest discover tests

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: CDK Synth
        run: cdk synth

      - name: CDK Deploy
        run: cdk deploy --parameters EmailSender=${{ secrets.EMAIL_SENDER }} --parameters EmailRecipient=${{ secrets.EMAIL_RECIPIENT }} --parameters ApiKeyValue=${{ secrets.API_KEY }} --all --require-approval never
